@import './tokens.css';
@import "tailwindcss";

@theme {
    --font-heading: 'PilcrowRounded', system-ui, sans-serif;
    --font-body: 'PlusJakartaSans', system-ui, sans-serif;

    --color-primary: #6A5AE0;
    --color-accent: #FFC82C;
    --color-dark: #1E1F22;
    --color-surface: #F2F3F7;
    --color-muted: #9A9BA0;
    --color-surface-dark: #2A2B2F;
    --color-surface-darker: #18191C;

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-dark);
    color: var(--color-text-dark);
}

button,
a {
    cursor: pointer;
}

* {
    scrollbar-color: var(--color-text-muted) transparent;
}

.p-toast-close-button {
    color: #a1a1aa !important;
}

.p-toast-message {
    border-color: transparent !important;
}

@keyframes charmi-float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}